div.image-clipper-box {
  padding: 10%;

  div.modal-dialog {
    max-width: 700px;
    width: 700px;
  }

  div.modal-content {

    div.modal-header {
      padding: 10px 16px;
      border-bottom: 1px solid #e9e9e9;
      background-color: #f3f3f3;

      .modal-title {
        position: relative;

        i.icon-crop-hy, i.icon-edit-hy {
          position: absolute;
          left: 102px;
          top: 6px;
          color: #004085;
        }
      }
    }

    div.modal-body {
      background-color: #fafafa;

      div.canvas-container {
        display: none;
        position: relative;
        margin: auto;
        width: 500px;
        height: 300px;

        canvas.image-clip, canvas.clip-container{
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    } /* modal-body */

    div.modal-footer {
      position: relative;
      border-top: 1px solid #e9e9e9;
      background-color: #f3f3f3;

      button {
        font-size: 14px;
        padding: 5px 10px;
      }

      button.btn-submit {
        display: none;
        color: white;
      }

      button.btn-cancel {
        color: #333;
        border-color: #cacaca;
        background-color: white;

        &:hover {
          background-color: #ededed;
          border-color: #cacaca;
        };

        &:focus {
          outline: none;
          border-color: #cacaca;
          color: #333;
        };
      }

      div.err-msg {
        display: none;
        margin: 0;
        padding: 5px 10px;
        position: absolute;
        left: 16px;
        top: 12px;
      }
    }

  } /* modal-content */
} /* image-clipper-box */
